<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce Store</title>
</head>

<body style="font-family:Arial; margin:0; background:#f4f4f4;">

<div style="background:#333; padding:10px; text-align:center;">
    <a href="/" style="color:white; margin:10px;">Home</a>
    <a href="/products/" style="color:white; margin:10px;">Products</a>
    <a href="/cart/" style="color:white; margin:10px;">Cart</a>
</div>

<div style="text-align:center; padding-top:100px;">

    <h1 style="font-size:50px;">
        🛒 My E-Commerce Store
    </h1>

    <p style="font-size:20px; color:gray;">
        Shop Smart. Shop Easy.
    </p>

    <br>

    <a href="/products/">
        <button style="
        background:black;
        color:white;
        border:none;
        padding:15px 30px;
        font-size:18px;
        border-radius:8px;
        margin-right:15px;">
            Explore Products
        </button>
    </a>

    <a href="/cart/">
        <button style="
        background:green;
        color:white;
        border:none;
        padding:15px 30px;
        font-size:18px;
        border-radius:8px;">
            View Cart
        </button>
    </a>

</div>

</body>
</html>